#dickface
	p Submitting a url will update the view page for everyone. Don't be a dick, dickface
	form(ng-submit='addUrl()')
		label URL:
		input(ng-model='url', ng-init="url='http://'")
		input(type="submit", value="Change")